<mat-toolbar class="header">
    <span>
        <a  routerLink="/">
            <img class="logo" src="/assets/img/logo.png" alt="Logo">
        </a>
    </span>
    <span class="title-group">
        <a>
            <i class="material-icons">
                home
            </i>
            <i class="diminuir">Aplicação Loja</i>
        </a>
    </span>

    <div class="visibleMobile">
        <mat-form-field class="mobileForm">
            <mat-label>Navegação</mat-label>
            <mat-select>
              <mat-option value="option1" routerLink="/">
                  Inicio
              </mat-option>
              <mat-option value="option2"  routerLink="/products">
                Produto
            </mat-option>
             
            </mat-select>
          </mat-form-field>
        </div>

</mat-toolbar>
