.sidenav{
    background-color: rgba(70, 190, 194, 0.438);
    height: calc(100% - 128px);
    margin-top: 64px;
    width: 150px;
}

.sidenav a{
    font-weight: 800;
}

.content{
    padding: 16px;
    background-color: white;
}

@media (max-width: 600px){
    .sidenav{
        display: none;
    }
}