.footer{
    position: fixed;
    bottom: 0;
    background-color: rgba(90, 86, 86, 0.287);
    box-shadow: 0px -3px 3px rgba(70, 190, 194, 0.438);
    height: 64px;
    display: flex;
    justify-content: flex-end;
}

.footer span {
    font-size: 1.2rem;
    font-weight: 500;
}

